.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 297px;
    border: solid black 2px; 
    } 

    input[type="button"] 
    { 
    color: black; 
    border: solid black 2px; 
    height: 100%;
    width:100% 
    } 

    input[type="text"] 
    { 
    background-color:white; 
    border: solid black 2px; 
    width:98% 
    } 